@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --primary: #2bd0d0;
    --primary_light: #6be4e4;
    --secondary: #3f3d56;
    --base: #5c5c68c9;
    --highlight: #eff1f7;
    --red: #fd2d3f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease .2s;
}
.hide{
    display: none !important;
}
.mobile-menu{
    display: none;
}
.mobile-nav{
    display: none;
}
.mobile-nav.active{
    display: block;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 1.1rem;
    color: var(--base);
}
header{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    max-width: 1240px;
    margin: 1rem auto;
    position: relative;
}
header nav{
    flex: 1 1 auto;
}
header a{
    font-weight: 700;
    padding: .6rem 1rem;
    text-decoration: none;
    color: var(--secondary);
}
header a:not(.btn):hover{
    color: var(--base);
}
.btn{
    padding: .6rem 1rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 90px;
    background-color: var(--primary);
    color: #fafafa;
}
.btn:hover{
    background-color: var(--primary_light);
}
section{
    max-width: 1240px;
    margin: 1rem auto;
    padding: 1rem;
}
#hero{
    display: grid;
    padding: 4rem .5rem;
    grid-template-columns: 1fr 1.2fr;
    gap: 4rem;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#hero > div{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#hero h1{
    color: var(--secondary);
    font-size: 3.72rem;
    line-height: 1.1;
}
#hero p{
    font-size: 1.3rem;
}
#hero img{
    width: 100%;
    position: relative;
    right: -15%;
}
#hero a.btn{
    display: inline-flex;
    align-self: flex-start;
    font-size: 1.3rem;
    padding: .7rem 2.7rem;
}
section#form{
    padding: 1rem 1rem 3rem;
    margin-top: 5rem;
    margin-bottom: 0;
    max-width: 100% !important;
    background-color: var(--highlight);
}
#form form{
    max-width: 1240px;
    margin: -70px auto auto;
    background-color: var(--secondary);
    padding: 4rem;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
}
#form form input[type='text']{
    font-family: inherit;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1.1rem 1.9rem;
    border: none;
    border-radius: 6px;
    width: 100%;
}
#form form input[type='text'].error{
    outline: var(--red) solid 4px;
}
#form form input[type='text']:focus{
    outline: none;
}
#form form input[type='submit']{
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 1.1rem 1.9rem;
    font-weight: 700;
    background-color: var(--primary);
    color: #fafafa;
    border: 0;
}
#form form input[type='submit']:hover{
    background-color: var(--primary_light);
    cursor: pointer;
}
form .w-full{
    flex: 1 1 auto;
}
form span.error{
    display: none;
    padding-top: .5rem;
    color: var(--red);
}
form span.error.show{
    display: block;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    max-width: 1240px;
    margin: auto;
}
.links .link{
    background-color: #fafafa;
    display: flex;
    box-shadow: 0 4px 7px -6px #d0d1d3;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 6px;
}
.links .link h4{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--secondary);
}
.link div{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
}
.link div a:not(.btn){
    text-decoration: none;
    color: var(--primary);
}
.link a.btn{
    font-size: .9rem;
}
.btn.copied{
    background-color: var(--secondary);
}
section#statistics{
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--highlight);
}
#statistics h3{
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--secondary);
}
#statistics > p{
    max-width: 50ch;
    text-align: center;
}
#statistics #cards{
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    max-width: 1020px;
    margin: 4rem auto;
    position: relative;
}
#statistics #cards:before{
    content: ' ';
    width: 98%;
    top: 100px;
    left: 0;
    position: absolute;
    height: 10px;
    z-index: 1;
    background-color: var(--primary);
}
.card{
    background-color: #fafafa;
    z-index: 50;
    padding: 1.8rem;
    border-radius: 6px;
}
.card img{
    height: 90px;
    width: 90px;
    border-radius: 90px;
    margin-top: -70px;
    padding: .5rem;
    background-color: var(--secondary);
}
.card h4{
    color: var(--secondary);
    margin-top: .7rem;
    font-size: 1.2rem;
}
.card p{
    line-height: 1.7;
    margin-top: .5rem;
}
.card:nth-child(2){
    margin-top: 50px;
}
.card:nth-child(3){
    margin-top: 70px;
}
#boost{
    background-color:#534f83;
    background-image: url('./images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    max-width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
#boost h3{
    font-size: 2rem;
    color: #fafafa;
}
footer{
    background-color:#282829;
}
footer .wrapper{
    max-width: 11240px;
    margin: auto;
    padding: 4rem 1.5rem 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.3fr;
}
footer .head{
    font-weight: 500;
    color: #fafafa;
    font-size: 1.1rem;
}
footer ul li{
    list-style: none;
    line-height: 1.7;
}
footer ul li a{
    display: block;
    text-decoration: none;
    color: #fafafa;
    opacity: .65;
    font-size: .95;
    padding: .4rem 0;
    font-weight: 400;
}
footer ul li a:hover{
    color: var(--primary);
    opacity: .9;
}
footer .socials{
    display: flex;
    gap: 1rem;
}
.socials a{
    text-decoration: none;
}
.socials a:hover svg path{
    fill: var(--primary);
}
@media screen and (max-width: 1024px) {
    #statistics #cards {
        gap: 1rem;
    }
    #hero {
        gap: 2rem;
    }
}
@media screen and (max-width: 850px) {
    #hero h1 {
        font-size: 3rem;
    }
    footer .wrapper {
        grid-template-columns: 1.3fr 1fr 1fr 1fr 1.3fr;
    }
}
@media screen and (max-width: 878px) {
    
    #hero {
        grid-template-columns: 1.3fr 1fr;
    }
    #form form {
        padding: 2rem;
    }
}
@media screen and (max-width: 690px) {
    footer .wrapper {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        row-gap: 2rem;
    }
    #statistics #cards {
        flex-direction: column;
    }
    #statistics #cards::before{
        height: 80%;
        width: 10px;
        left: 50%;
    }
    #statistics #cards .card{
        max-width: 400px;
    }
    #form form {
        flex-direction: column;
        gap: 1rem;
    }
    #form form > *{
        width: 100%;
    }
    #hero a.btn {
        align-self: center;
    }
    #hero {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #hero img{
        right: 0;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        gap: .3rem;
        margin-right: .5rem;
        padding: 1rem;
        cursor: pointer;
    }
    .mobile-menu span{
        height: 4px;
        display: block;
        width: 30px;
        content: ' s';
        background-color: var(--base);
    }
    .mobile-nav{
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        padding: 1.5rem;
        line-height: 2;
        z-index: 500;
    }

    .mobile-nav nav{
        background-color: var(--secondary);
        border-radius: 6px;
        display: flex;
        padding-top: 1rem;
        flex-direction: column;
    }
    .mobile-nav nav a{
        color: #fafafa;
        padding: 1rem 1.5rem;
        text-align: center;
    }
    .mobile-nav nav .cta{
        display: flex;
        border-top: 0.73px solid #fafafa25;
        flex-direction: column;
        margin: 1rem 3rem 2.5rem;
    }
    header > nav {
        display: none;
    }
    header > .cta{
        display: none;
    }
    .links .link {
        flex-direction: column;
        align-items: stretch;
    }
    .links .link h4{
        padding: .5rem;
        border-bottom: 0.73px solid #d1d0d1d7 ;
    }
    .links .link div{
        flex-direction: column;
        align-items: stretch;
        padding: .5rem;
    }
    .links .link div .btn{
        border-radius: 6px;
        text-align: center;
    }
}